@page "/about"
@model InterviewWizard.Pages.AboutModel
@{
ViewData["Title"] = "About";
}
<div class="container">
    <h1>About Interview Wizard</h1>
    <p><strong>Interview Wizard</strong> is a cutting-edge platform designed to revolutionise the way individuals prepare for job interviews. By leveraging focused technology and artificial intelligence, we offer a personalized interview preparation experience, tailoring questions and feedback directly to your CV, job advertisements, and position descriptions. Our mission is to equip candidates with the tools and confidence needed to ace their interviews and advance their careers.</p>

    <h2 class="h4">Who can benefit?</h2>
    <p>Whether you're a recent graduate entering the job market, a professional seeking to navigate a career transition, or preparing for a pivotal interview, Interview Wizard is your go-to resource for tailored interview practice. For recruitment consultants and hiring managers, <strong>Interview Wizard</strong> and also help suggest questions you may wish to ask candidates.</p>

    <h2 class="h4">How does it work?</h2>
    <p>Getting started is simple:</p>
    <ol>
        <li>Create a free account</li>
        <li>Upload your CV / resum&eacute;</li>
        <li>Upload the position description, or provide the job advertisement</li>
        <li>Answer the questions provided</li>
        <li>Receive instant feedback and suggestions</li>
    </ol>

    <h2 class="h4">Who's behind Interview Wizard?</h2>
    <p>The concept, design and development are by <a href="https://www.linkedin.com/in/danhalford/" aria-label="Dan Halford's LinkedIn">Dan Halford</a>.</p> The platform is built around:</p>
    <ul>
        <li>.NET 8.0 Razor, running on Azure App Services</li>
        <li>Azure SQL and Azure Cache for Redis for data storage and caching</li>
        <li>Azure Storage for file management</li>
        <li>OpenAI for large language model access</li>
        <li>Bootstrap 5.3 for responsive design and UI components</li>
        <li>Google ReCaptcha for anti-bot protection</li>
        <li>Google Analytics for usage statistic capturing and analysis</li>
    </ul>
</div>

