@page "/contact-success"
@model InterviewWizard.Pages.ContactSuccessModel
@{
ViewData["Title"] = "Contact Us";
}
<div class="container">
    <h1>Thank you!</h1>
    <p>Your message has been sent to the Interview Wizard team.</p>
</div>