@page "/privacy"
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>Interview Wizard is committed to protecting your privacy and handling your personal information in accordance with the Australian Privacy Principles (APPs) under the Privacy Act 1988 (Cth). This privacy policy explains how we collect, use, disclose, and protect your personal information when you use our service.</p>

    <h2 class="h4">1. Collection of Personal Information</h4>
    <p>Interview Wizard collects personal information necessary to provide our interview simulation services. This includes:</p>
    <ul>
        <li><strong>Account information:</strong> Your valid email address and password used to create an IW account.</li>
        <li><strong>Document uploads:</strong> Your CV / resum&eacute;, job advertisements and position descriptions. In particular, your CV / resum&eacute; may contain personal and sensitive information such as your full name, contact details, address, employment history, nationality, marital status, etc.</li>
        <li><strong>provided answers:</strong> Any information you may supply in the freeform answers given in response to Interview Wizard's questions.</li>
    </ul>

    <h2 class="h4">2. Use and Disclosure of Personal Information</h4>
    <p>Your personal information is used to:</p>
    <ul>
        <li>Provide and manage your access to Interview Wizard</li>
        <li>Simulate interviews and generate feedback baced on the information in your CV / resum&eacute;, job advertisements and / or position descriptions.</li>
    </ul>
    <p>We disclose your information to third-party service providers who perform services on our behalf, including operation of large language models, application hosting, and cloud storage. These providers are contractually obliged to protect your information and use it solely for the purpose of providing their services to us.</p>
    <p><strong>Email Communications</strong> We use your email address exclusively for account-related communications, such as password resets, service updates, and notifications pertinent to your use of Interview Wizard. <strong>We do not use your email for marketing purposes, nor do we share it with third parties for such purposes.</strong></p>

    <h2 class="h4">3. Storage and Security</h4>
    <p>We take all reasonable steps to ensure the security of your personal information, including:</p>
    <ul>
        <li>Ensuring all uploaded information is encrypted in transit and at rest.</li>
        <li>Implementing security measures to protect your personal information from unauthorised access, modification, or disclosure.</li>
        <li>Purging all uploaded documents, information, questions, answers, and answer reviews from Interview Wizard when each session ends.</li>
    </ul>

    <p><strong>Note</strong>: If you flag a question or an answer review as inappropriate, the flagged item is not deleted at the end of the session to allow it to be reviewed. This exception to the automatic removal of all data is also highlighted during the flagging process.</p>

    <h2 class="h4">4. International Data Transfer</h4>
    <p>Your personal information may be transmitted to third-party service providers, and processed and stored on servers located outside Australia. We ensure that any international transfers of personal information are conducted in compliance with Australian privacy laws and that appropriate safeguards are in place.</p>

    <h2 class="h4">5. Your Rights</h4>
    <p>Under the Privacy Act, you have rights to:</p>
    <ul>
        <li>Access the personal information we hold about you.</li>
        <li>Request correction of any inaccurate, out-of-date, incomplete, irrelevant, or misleading personal information.</li>
        <li>Make a complaint if you believe we have breached the Australian Privacy Principles or any other privacy rights.</li>
    </ul>

    <h3 class="h5">Right to Account Purge</h5>
    <p>Interview Wizard recognises your right to control your personal information and offers you the ability to have your account and all associated personal information completely purged from our systems.</p>
    <p>If you decide that you no longer wish to use Interview Wizard and would like your account and all related personal information to be permanently deleted, you may request an account purge at any time. Upon receiving a request for an account purge, we will take reasonable steps to permanently delete your personal account information and any uploaded documents from our databases and storage solutions, except to the extent that we are required to retain certain information by law or for legitimate business purposes, such as resolving disputes and enforcing our agreements.</p>
    <p>To request an account purge, please submit a purge request via your <a href="/profile">Account Profile</a> page. We will respond to your request within a reasonable timeframe, confirming once your account and all associated personal information has been purged.</p>
    <p>Please note that once your account and personal information are purged, you will no longer be able to access any services or data associated with your account, and we will not be able to recover any data on your behalf.</p>

    <h2 class="h4">6. Changes to This Policy</h4>
    <p>We may update this policy to reflect changes in our practices or the law. We will notify you of changes by posting the updated policy on our website.</p>
    <h2 class="h4">7. Contact Us</h4>
    <p>For any questions, access requests, or complaints regarding your personal information, please contact us at privacy@interviewwizard.ai.</p>
</div>