@page "/reset-password"
@using InterviewWizard.Helpers
@model InterviewWizard.Pages.ResetPasswordModel
@{
    ResetPasswordStatus status = Model.status;
    switch (status)
    {
        case ResetPasswordStatus.Start:
        case ResetPasswordStatus.Password:
            ViewData["Title"] = "Reset Password";
            break;
        case ResetPasswordStatus.Success:
            ViewData["Title"] = "Password Reset";
            break;
        case ResetPasswordStatus.InvalidToken:
        case ResetPasswordStatus.ExpiredToken:
            ViewData["Title"] = "Password Reset Failed";
            break;
    }
}
<div class="container">
    <div class="row">
        @if (status == ResetPasswordStatus.Start)
        {
            <div class="col-12 col-md-6">
                <form id="frmResetPassword" method="post">
                    <div class="mb-3">
                        <h1>Reset password</h1>
                    </div>
                    <div class="mb-3">
                        <label for="EmailAddress" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="EmailAddress" name="EmailAddress" required data-iw-validate>
                        <div id="lblInvalidEmail" class="invalid-feedback">Please provide a valid email address.</div>
                    </div>
                    <div class="text-end">
                        <button id="cmdSubmit" type="button" class="btn btn-primary iw-100">Reset</button>
                        <button id="cmdWait" type="button" class="btn btn-primary iw-100 disabled d-none">
                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                            <span class="visually-hidden" role="status">Loading...</span>
                        </button>
                    </div>
                    <div class="mb-3">
                        <recaptcha action="resetPassword" />
                    </div>
                    <div id="lblStatus" class="mb-3 d-none"></div>
                </form>
            </div>
        } else if (status == ResetPasswordStatus.Password || status == ResetPasswordStatus.PasswordTooShort)
        {
            <div class="col-12 col-md-6">
                <form id="frmResetPassword" method="post">
                    <div class="mb-3">
                        <h1>Reset password</h1>
                    </div>
                    <div class="mb-3">
                        <label for="Password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="Password" name="Password" data-iw-validate required>
                        <div class="invalid-feedback">Your password must be at least 14 characters long and not contain any Justin Bieber lyrics</div>
                    </div>
                    <div class="mb-3">
                        <label for="ConfirmPassword" class="form-label">Confirm password</label>
                        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" data-iw-validate required>
                        <div class="invalid-feedback">Your passwords do not match. Please try again.</div>
                    </div>
                    <div class="text-end">
                        <button id="cmdSubmit" type="submit" class="btn btn-primary iw-100" data-iw-token="@Model._token" data-state="password">Reset</button>
                        <button id="cmdWait" type="button" class="btn btn-primary iw-100 disabled d-none">
                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                            <span class="visually-hidden" role="status">Loading...</span>
                        </button>
                    </div>
                </form>
            </div>
        } else if (status == ResetPasswordStatus.InvalidToken || status == ResetPasswordStatus.ExpiredToken)
        {
            <div class="col-12 col-md-6">
                <form id="frmResetPassword" method="post">
                    <div class="mb-3">
                        <h1>Reset password</h1>
                    </div>
                    <div class="mb-3">
                        <p>Sorry, the password reset token is invalid or has expired. Please <a href="/reset-password" aria-label="Reset password page">try again</a>.</p>
                    </div>
                </form>
            </div>
        }
        else if (status == ResetPasswordStatus.Success)
        {
            <div class="col-12 col-md-6">
                <form id="frmResetPassword" method="post">
                    <div class="mb-3">
                        <h1>Password Reset</h1>
                    </div>
                    <div class="mb-3">
                        <p>Your password has been reset successfully. Please <a href="/login" accesskey="Log in">log in</a> to continue.</p>
                    </div>
                </form>
            </div>
        }

        <div class="col-6 iw-panel d-none d-md-block">
            <div class="text-end">
                <img src="/img/400/iw_brokenwizard_1_400.webp" alt="A confused android wizard sitting cross-logged on a bench, scratching their head as they've forgotten their password'" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/iw-resetpassword.js" asp-append-version="true"></script>
}