@page "/terms-of-service"
@model InterviewWizard.Pages.tosModel
@{
    ViewData["Title"] = "Terms of Service";
}
<div class="container">
    <h1>Welcome to Interview Wizard!</h1>
    <p>Thank you for choosing Interview Wizard, your innovative tool designed to simulate interview scenarios, offering personalised questions and feedback based on your CV, recruitment advertisements and job descriptions. Our mission is to help you prepare effectively for your next job interview, providing a unique and interactive experience tailored to your career goals.</p>

    <h2 class="h4">Acceptance of Terms</h4>
    <p>By accessing and using Interview Wizard, you acknowledge that you have read, understood, and agree to be bound by these Terms of Service (ToS). These ToS govern your access to and use of Interview Wizard, including any content, functionality, and services offered on or through our web application.</p>
    <p>If you do not agree with any part of these terms, you must not access or use Interview Wizard.</p>

    <h2 class="h4">Content Ownership and Use</h4>
    <h3 class="h5">Ownership</h5>
    <p>At Interview Wizard, we respect the ownership rights of your content. All documents, data, CVs, job descriptions, and any other content uploaded or entered into Interview Wizard by you ("Your Content") remain the property of their original owner. We claim no intellectual property rights over the any material provided to the service.</p>
    <h3 class="h5">Use of Your Content</h5>
    <p>Your Content is used solely for the purpose of providing the services offered by Interview Wizard, including but not limited to, generating personalised interview questions and feedback. We understand the sensitive nature of the information contained within Your Content and are committed to ensuring it is handled with the utmost respect and confidentiality.</p>
    <h3 class="h5">Non-Reuse Policy</h5>
    <p>We guarantee that Your Content will not be reused in any form or for any purpose beyond the delivery of our services to you. This means that Your Content will not be shared, sold, or repurposed for marketing, research, or any other purposes outside of the specific functionalities for which you have engaged Interview Wizard.</p>
    <h3 class="h5">Automatic Removal of Content</h5>
    <p>To further protect your privacy and the confidentiality of Your Content, we implement an automatic removal policy. All of Your Content uploaded or entered into Interview Wizard is automatically deleted from our servers at the end of each session, as well as all Interview Wizard-generated content, such as personalised questions and answer feedback. This policy ensures that no residual data is left behind, minimising any risk of unauthorized access or use.</p>
    <p><strong>Note</strong>: There is one exception to the automatic deletion policy; if you flag a question or answer feedback as inappropriate, the question, the answer you provide and the answer feedback are kept to allow them to be reviewed manually. Once the review has been completed, the data is then removed.</p>

    <h2 class="h4">Limitation of Liability</h4>
    <h3 class="h5">Service Provision</h5>
    <p>Interview Wizard is provided to you on a subscription basis, with standard, premium and free levels of service. While we strive to offer a valuable service to enhance your interview preparation, it is important to understand the boundaries of our liability.</p>
    <h3 class="h5">Liability Limit</h5>
    <p>Our liability to you for any damages arising out of or in connection to the use of Interview Wizard, for any cause whatsoever and regardless of the form of action, will be limited to the total amount of subscription fees (if any) paid by you to Interview Wizard during the period of your subscription prior to the action giving rise to such liability. This includes but is not limited to loss of data, business interruption, or any other losses that may arise from the use of the service.</p>
    <h3 class="h5">Australian Consumer Law</h5>
    <p>Nothing in these Terms of Service is intended to exclude, restrict, or modify any of your rights under the Australian Consumer Law contained in the Competition and Consumer Act 2010 (Cth). If the Australian Consumer Law provides you with any non-excludable rights, we limit our liability to the re-supply of the services or the cost of re-supplying the services.</p>

    <h2 class="h4">Governing Law</h4>
    <h3 class="h5">Jurisdiction</h5>
    <p>These Terms of Service and any separate agreements whereby we provide you services shall be governed by and construed in accordance with the laws of Queensland, Australia. By using Interview Wizard, you agree that any disputes or claims arising out of or in connection with our services shall be subject to the exclusive jurisdiction of the courts of Queensland, Australia.</p>
    <h3 class="h5">Compliance with Australian Law</h5>
    <p>In providing our services, Interview Wizard is committed to complying with the legal and regulatory framework established by Australian law, including but not limited to the Privacy Act 1988 (Cth) and the Australian Consumer Law contained within the Competition and Consumer Act 2010 (Cth). This commitment ensures that our operations respect the rights and protections afforded to you under Australian law.</p>
    <h3 class="h5">Resolving Disputes</h5>
    <p>We believe in resolving disputes amicably and efficiently. If you have any concerns or disputes about the service, we strongly encourage you to contact us first at hello@interviewwizard.ai to seek a resolution. We will do our best to resolve any disputes through informal negotiation within 60 days of being notified. If we are unable to resolve the dispute informally, both parties agree to submit to the exclusive jurisdiction of the courts of Queensland, Australia, to resolve any legal matters.</p>

    <h2 class="h4">Acknowledgement</h4>
    <p>By using Interview Wizard, you acknowledge and agree that the use of the service is at your sole risk and discretion. You further acknowledge that Interview Wizard is provided on an "as is" and "as available" basis.</p>

    <h2 class="h4">Changes to Terms of Service</h4>
    <p>We reserve the right to update or modify these ToS at any time without prior notice. All changes are effective immediately upon posting and apply to all access to and use of Interview Wizard thereafter. Your continued use of Interview Wizard following the posting of revised ToS means that you accept and agree to the changes. We encourage you to review the ToS periodically for any updates or changes.</p>

    <h2 class="h4">Contact Us</h4>
    <p>If you have any questions about these Terms of Service, please contact us at hello@interviewwizard.ai</p>
</div>